@import url("https://fonts.googleapis.com/css?family=Montserrat|PT+Sans|Quicksand");

* {
  box-sizing: border-box;
  //border: 1px solid red;
}

body {
  margin: 0 auto;
  padding: 0;
  font-family: "Quicksand", "Montserrat", "Arial", sans-serif;
  background-image: url("./images/forest.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

h1,
h2,
h3,
p {
  text-align: center;
}

i:hover {
  transform: scale(1.05) rotate(3deg);
  cursor: pointer;
  opacity: 1;
}

.container {
  max-width: 1100px;
  width: 100%;
}

.navigation > li > a {
  color: lightgrey;
  font-size: 25px;
  font-weight: 400;
  text-transform: uppercase;
  height: 40px;
}

.navigation > li > a:hover {
  transition: 0.5s all linear;
  border-radius: 4px;
  color: #282829;
  background-color: lightgrey;
}

.navigation > li > a:focus {
  background-color: lightgrey;
  border-radius: 4px;
  color: #282829;
}

.small-menu,
.large-menu {
  margin-top: 20px;
}

.large-menu ul > li,
.small-menu ul > li {
  text-decoration: none;
  list-style-type: none;
  padding: 10px;
}

.large-menu ul li > a,
.small-menu ul li > a {
  text-transform: none;
  text-decoration: none;
  padding: 13px;
}

.small-menu ul {
  display: block;
  width: 100%;
}


.navigation {
  display: flex;
  padding-bottom: 20px;
  padding-left: 0;
}



/* About section */

.home-header-one,
.home-header-two,
.home-header-three {
  font-size: 50px;
  font-weight: 600;
  text-shadow: 0 0 5px black;
}

.home-hero-paragraph,
.techno-header {
  font-size: 25px;
  font-weight: 600;
  text-shadow: 0 0 2px black;
}

.home-hero-container {
  height: 80vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Social icons */

.fab {
  font-size: 40px;
  /* color: rgba(black, 0.7); */
  transition: 0.4s all linear;
  margin-right: 30px;
  text-shadow: 0 0 5px black;
  color: black;
  opacity: 0.4;
}

.fa-facebook:hover {
  color: #2E5990;
}

.fa-linkedin-in:hover {
  color: #0873AC;
}

.social-container {
  display: flex;
  justify-content: flex-end;
  position: fixed;
  bottom: 10px;
  right: 10px;
}

/* Technologies section */

.techno-container {
  display: grid;
  grid-template-columns: auto auto auto auto auto auto;
  grid-gap: 5px 5px;
  height: 73vh;
}

.techno-img {
  height: 83px;
  width: 83px;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  opacity: 0.6;
  margin: auto;
  transition: 0.5s all linear;
}

.techno-img:hover {
  transform: scale(1.1);
  opacity: 1;
}

.html-img {
  background-image: url("./images/html-5.svg");
}

.css-img {
  background-image: url("./images/css-3.svg");
}

.rwd-img {
  background-image: url("./images/rwd.png");
}

.js-img {
  background-image: url("./images/js.svg");
}

.jquery-img {
  background-image: url("./images/jquery.svg");
}

.sass-img {
  background-image: url("./images/sass.png");
}

.bootstrap-img {
  background-image: url("./images/bootstrap.png");
}

.bulma-img {
  background-image: url("./images/bulma.svg");
}

.ajax-img {
  background-image: url("./images/ajax.png");
}

.nodejs-img {
  background-image: url("./images/nodejs.png");
}

.express-img {
  background-image: url("./images/express.png");
}

.react-img {
  background-image: url("./images/react.png");
}

.redux-img {
  background-image: url("./images/redux.png");
}

.webpack-img {
  background-image: url("./images/webpack.png");
}

.git-img {
  background-image: url("./images/git.png");
}

.npm-img {
  background-image: url("./images/npm.png");
}

.babel-img {
  background-image: url("./images/babel.png");
}

.mongo-img {
  background-image: url("./images/mongo.png");
}

/* Portfolio section */

.portfolio-container {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-gap: 40px;
}

.portfolio-item {
  background-image: url("./images/awax.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  padding: 130px;
  opacity: 0.6;
  box-shadow: 0 0 15px black;
  border-radius: 7px;
  transition: 0.4s all linear;
}

.portfolio-item:hover {
  opacity: 1;
  transform: scale(1.05);
  box-shadow: 0 0 30px black;
}

.portfolio-item-1 {
  background-image: url("./images/awax.jpg");
}

.portfolio-item-2 {
  background-image: url("./images/golden.jpg");
}